form {
  border: 2px solid #a2a2a2;
  border-radius: 0;
  padding: 50px 40px;
  background-color: white;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
  box-sizing: border-box;
}

.input-button {
  background-color: rgb(167, 100, 215);
  border: 0;
  color: white;
  padding: 15px 30px;
}

.input-text {
    padding: 15px 30px;
    border: 2px solid #a2a2a2
}
